{% extends 'base.html.twig' %}

{% block title %}Accueil - Le Petit Site des Quatre Mots{% endblock %}

{% block body %}
    <h1>Bienvenue sur le petit site des Quatre mots</h1>
    <p>TP du groupe de la première rangée + le chieur en présentiel à distanciel.
        Vous disposez de 4 devinettes, il vous suffit de résoudre ces devinettes pour gagner vos points.
        Alizée / Antoine / Ismael-Andrick / Hassan</p>
    <img id='nerd' src="{{ asset('assets/logo/nerd.webp') }}" alt="nerd">

    <p>Petit rappel de tout les mots : antilope / puissance / cube / robinet / sauvegarder / princesse / transport / vétérinaire / cerf
        couleur / sarbacane / applaudissement / photocopieur / squelette / scène / relier / botte / douze / cintre / croc</p>
{% endblock %}
