{% extends 'base.html.twig' %}

{% block body %}
    Vous avez Réussi !!!

    <p>Retournez à l'accueil et tenté de deviné un deuxieme mots!</p>
    <img src={{ asset("assets/image/capture.jpg") }} alt="image winner">
    <hr>
    <a href={{ url("main_home") }}>Devinette</a>
    <hr>
{% endblock %}