/* Reset default margins and paddings */
body, html, h1, h2, h3, p, ul, li, a, img, header, footer, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    color: #333;
    line-height: 1.6;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Header and Footer */
header, footer {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    position: relative;
    overflow: hidden;
}

header img {
    width: 35px;
    height: auto;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    color: #007acc;
    margin-left: 10px;
    font-weight: 300;
}

header::after {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: #777;
    position: absolute;
    bottom: 0; left: 0; right: 0
}

footer::before {
    content: '';
    width: 50px;
    height: 5px;
    background: #007acc;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
}

/* Navigation */
nav {
    margin: 0;
    text-align: center;
    background-color: #007acc;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #005b99;
}

p{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p.indice {
    margin: 0;
    margin-bottom: 50px;
}

.imageMot1{
    margin-left: 180px;
}

.tentative{
    display: flex;
    justify-content: center;
}

#nerd{
    display: block;
    margin: 0 auto;
    height: 20%;
    margin-bottom: 30px;
}

/* Alerts */
.alert {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    border-left: 5px solid;
}

.alert-success {
    background-color: #e1f5e7;
    border-color: #2e7d32;
    margin: 15px 750px 15px 750px;
    border-radius: 50px;
    text-align: center;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #c9302c;
    margin: 15px 750px 15px 750px;
    border-radius: 50px;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
}
/* Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    margin-top: 15px;
}

h1 {
    font-size: 28px;
}

p {
    margin: 0 500px 15px 500px;
}

p.special{
    margin: 0 !important;
}

.mo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_mo2{
    height: 492px;
    object-fit: cover;
}

#mot2_Valider{
    width: 100%;
    height: 2rem;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#mot2_Valider:hover{
    background-color:#2e7d32
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

