{% extends 'base.html.twig' %}

{% block title %}Profil - Le Petit Site des Quatre Mots{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <h3>{{ user.username }}</h3>

    <p>{{ "Pseudonyme : " ~ user.userIdentifier }}</p>
    <p>Il n'y a rien d'autre à voir ici !</p>
{% endblock %}

